/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  /*-----------------------------BachroundColor-------------------------------*/
  background-image: linear-gradient(to left bottom, #ebd794, #c0ce87, #92c485, #5fb88a, #00aa95);
  /*-----------------------------END BachroundColor---------------------------*/
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  font-family: OdibeeSans;
  letter-spacing: 15px;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  /*-----------------------------FontFamily-----------------------------------*/
  font-family: JosefinSans_SemiBoldItalic;
  /*-----------------------------END FontFamily-------------------------------*/
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
}

/*----------------Button hover effet and Animation----------------------------*/
#btn__reset:hover{
  letter-spacing: 5px;
}
.btn__reset_animation{
  animation-name: stratButton;
  animation-duration: 1s;
}
@keyframes stratButton {
  20% {transform:scale(1.5);}
  55% {transform: rotate(360deg) scale(1); background-color:#74d774; font-size: 25px; color: white; width: 250px;}
}
/*----------------END Button hover effet and Animation------------------------*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */
/*------------------------Header Float Animation -----------------------------*/
.header {
  color: #3a3f58;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
}
@keyframes float {
	0% {
		text-shadow: 0 5px 15px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 0 25px 15px  rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		text-shadow: 0 5px 15px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
/*------------------------END Header Float Animation -------------------------*/

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: white;
  border-radius: 5px;
}

.space {
  width: 15px;
}


/*-----------------------------------show_letter_animation------------------------------------------*/
.show {
  color: #fff;
  background-color: #135c69;
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.show_letter_animation{
  animation-name: swing;
  animation-duration: 0.5s;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/*--------------------------------------------------------------------------------------------------*/
/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

/*--------------------------keyboard Effect-----------------------------------*/
.key:hover{
  border-radius: 15px;
}
.key:active{
  transition: 0.1s ease;
  transform: translateY(2px);
}
/*--------------------------END keyboard Effect-------------------------------*/
.chosen {
  background: #135c69;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #f76464;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}

/*-------------------------Scoreboard Shake Animation-------------------------*/
.scoreboard_shake{
  animation-name: slowshake;
  animation-duration: 0.3s;
}
 @keyframes slowshake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 50%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70% {
    transform: translate3d(10px, 0, 0);
  }
}
/*-------------------------END Scoreboard Shake Animation---------------------*/

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  /*--------------------------Z-index-----------------------------------------*/
  z-index: 1;
  /*--------------------------END Z-index-------------------------------------*/
}

.title {
  color: #FFF;
}
/*-------------------------PHRASE HUNTER Expand Animation---------------------*/
.title_animation{
  animation-name: expand;
  animation-duration: 6s;
}
@-webkit-keyframes expand {
  25%  {letter-spacing: 44px;}
}
/*-------------------------END PHRASE HUNTER Expand Animation-----------------*/

.start { /*---------------------background-image------------------------------*/
  background-color: #3a3f57;
  background-image: linear-gradient(to right top, #571845, #621646, #6d1446, #781144, #830e42, #8c0b41, #950940, #9e073e, #a8043e, #b3013d, #bd003b, #c70039);
}

.start a {
  color: #fff;
}

.win { /*---------------------background-image--------------------------------*/
  background-color: #7bce85;
  background-image: linear-gradient(to right top, #003f00, #004e02, #025e02, #066e02, #0c7e02, #268c02, #399a01, #4ba800, #69b600, #85c400, #a1d200, #bee000);
}

.win a {
  color: var(--color-win);
}

.lose { /*---------------------background-image--------------------------------*/
  background-color: #f37963;
  background-image: linear-gradient(to top, #f43737, #c5292c, #971c21, #6b1016, #430606);
}

.lose a {
  color: var(--color-lose);
}




/*------------------FONTS-----------------------------------------------------*/
@font-face {
  font-family: JosefinSans_Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf');
}
@font-face {
  font-family: JosefinSans_SemiBoldItalic;
  src: url('../fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf');
}
@font-face {
  font-family: OdibeeSans;
  src: url('../fonts/OdibeeSans/OdibeeSans-Regular.ttf');
}
/*------------------END FONTS-------------------------------------------------*/
